* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #47056B;
    --secondary-color: #5F0A87;
    --accent-color-1: #822d89;
    --accent-color-2: #a4508b;
    --accent-color-3: #b37196;
    --accent-transparent-1: rgb(130, 45, 137, 0.6);
    --accent-transparent-2: rgb(164, 80, 139, 0.6);
    --accent-transparent-3: rgb(179, 113, 150, 0.6);
    --font-dark: #0C0014;
    --font-light: #F8F1F6;
    --background-light: #F8F2F4;
    --background-dark: #1B0227;
    --background-default: #120133;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-attachment: fixed;
    background-color: var(--background-default);
}

nav {
    position: sticky;
    top: 0px;
    width: 100%;
}

h3 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 5px;
    color: var(--font-dark);
    text-transform: uppercase;
}

.dropdown {
    display: none;
}

.main-nav {
    height: 60px;
    font-size: 15px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: right;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .8);
}

.main-nav > a {
    height: 100%;
    padding: 0 2rem;
    color: var(--font-light);
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2rem;
    text-decoration: none;
}

.main-nav > a:hover {
    background-color: var(--accent-color-1);
    height: 100%;
    padding-right: 2rem;
    color: var(--font-light);
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2rem;
    text-decoration: none;
}

.inicio {
    height: 600px;
    display: flex;
    margin: 0 6rem;
    align-items: center;
    scroll-margin: 60px;
    color: var(--font-light);
}

.inicio > img {
    height: 18rem;
    width: 18rem;
    border-radius: 10rem;
    border: solid 6px var(--accent-color-1);
}

.contents {
    margin-left: 3rem;
}

.contents h1 {
    font-size: 80px;
}

.contents h2 {
    font-size: 30px;
    margin-bottom: 1rem;
}

.contents > h1, h2 {
    text-align: center;
}

.contents > ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
}

.contents > li {
    display: flex;
    justify-content: space-around;
}

.contents > li, p {
    display: flex;
    justify-content: space-around;
    padding: 0.25rem 0;
}

.inicio-contact > li {
    font-size: 16px;
    text-align: center;
}

.profile {
    height: 650px;
    padding: 4rem 8rem;
    scroll-margin: 60px;
    background-color: var(--background-light);
    margin: 0 8rem;
}

.profile > p {
    font-size: 26px;
    font-weight: 100;
    text-align: justify;
    color: var(--font-dark);
    margin-top: 2rem;
    padding: 3rem;
    border: double 6px var(--accent-color-2);
}

.education {
    height: 650px;
    padding: 2rem 8rem;
    scroll-margin: 60px;
    background-color: var(--background-light);
    margin: 0 8rem;
}

.education > h4 {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: var(--font-dark);
    margin-top: 6rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 2px var(--accent-color-1);
}

.education > h5 {
    color: var(--font-dark);
    font-size: 15px;
    margin-top: 0.5rem;
}

.experience {
    height: 650px;
    padding: 2rem 8rem;
    scroll-margin: 60px;
    background-color: var(--background-light);
    margin: 0 8rem;
}

.blocks {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
}

.blocks > section {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 400px;
    margin: 2rem 0 ;
    padding: 2rem;
    background: linear-gradient(to right, var(--accent-transparent-1), var(--accent-transparent-3)),  url(../img/bg-section-1.jpg);
    background-size: cover;
}

.blocks-section > h3, h4, h5, h6, ul, p {
    color: var(--font-light);
}

.blocks-section > h3, h4, h5, h6 {
    font-weight: 500;
}

.blocks-section > h3, h4 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 0.7rem;
    text-transform: uppercase;
}

.blocks-section > h5 {
    font-size: 16px;
    font-weight: 300;
}

.blocks-section > h6 {
    font-size: 14px;
    border-bottom: solid 1px var(--background-light);
}

.blocks-section > ul {
    list-style: disc;
    padding-left: 3rem;
    font-size: 14px;
    margin-bottom: 2rem;
}

.blocks-section > p {
    font-size: 13px;
    text-align: justify;
}

.habilities {
    height: 650px;
    padding: 2rem 8rem;
    scroll-margin: 60px;
    background-color: var(--background-light);
    margin: 0 8rem;
}

.level-bar {
    width: 180px;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
}

.level-bar_bg {
    width: 100%;
    height: 1rem;
    background-color: var(--primary-color);
    position: relative;
    top: 0;
    left: 0;
}

.level-bar_bar {
    width: 80%;
    height: 1rem;
    background-color: var(--background-light);
    position: relative;
    top: 0rem;
    left: 0rem;
}

.scroll-button {
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--secondary-color);
    width: 50px;
    height: 50px;
    border-radius: 5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.scroll-button > a {
    display: flex;
    text-decoration: none;
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.scroll-button > a:visited {
    color: var(--font-light);
}

.scroll-button:hover {
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--accent-color-1);
    width: 50px;
    height: 50px;
    border-radius: 5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 6px 0 var(--accent-color-3);
}

@media screen and (max-width: 980px){
    nav {
        display: none;
    }
        
    .dropdown {
        position: relative;
        top: 1rem;
        left: 1rem;
        display: flex;
        position: fixed;
        background-color: var(--secondary-color);
        width: 50px;
        height: 50px;
        border-radius: 5rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .dropdown > button {
        background-color: transparent;
        border: none;
        color: var(--font-light);
    }

    .dropdown-content {
        display: none;
        position: absolute;
        border-radius: 1rem;
        top: 3.5rem;
        left: 0;
        width: fit-content;
        padding: 4px;
        overflow: auto;
        background-color: var(--secondary-color);
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        display: block;
        color: var(--font-light);
        padding: 5px;
        text-decoration: none;
    }

    .dropdown-content a:hover {
      color: var(--font-light);
      background-color: var(--accent-color-3);
    }
    
    .inicio {
        height: 1200px;
        width: 70%;
        display: flex;
        margin: 0 6rem;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        scroll-margin: 60px;
        color: var(--font-light);
    }
    
    .inicio > img {
        height: 18rem;
        width: 18rem;
        border-radius: 10rem;
        border: solid 6px var(--accent-color-1);
    }
    
    .contents {
        margin-left: 3rem;
    }
    
    .contents h1 {
        font-size: 80px;
    }
    
    .contents h2 {
        font-size: 30px;
        margin-bottom: 1rem;
    }
    
    .contents > h1, h2 {
        text-align: center;
    }
    
    .contents > ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 1rem 0;
    }
    
    .contents > li {
        display: flex;
        justify-content: space-around;
    }
    
    .contents > li, p {
        display: flex;
        justify-content: space-around;
        padding: 0.25rem 0;
    }
    
    .inicio-contact > li {
        font-size: 16px;
        text-align: center;
    }
}

@media screen and (max-width: 580px){
    body {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 200% 280%;
        background-position: center;
        background-attachment: fixed;
    }

    nav {
        display: none;
    }

    .inicio {
        height: 900px;
        width: 70%;
        margin: 0 3.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        scroll-margin: 60px;
        color: var(--font-light);
    }
    
    .inicio > img {
        height: 10rem;
        width: 10rem;
        margin-top: 2rem;
        border-radius: 10rem;
        border: solid 4px var(--accent-color-1);
    }
    
    .contents {
        margin-left: 0;
        margin-bottom: 2rem;
    }
    
    .contents h1 {
        font-size: 40px;
    }
    
    .contents h2 {
        font-size: 20px;
        margin-bottom: 1rem;
    }
    
    .contents > h1, h2 {
        text-align: center;
    }
    
    .contents > ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 1rem 0;
    }
    
    .contents > li {
        display: flex;
        justify-content: space-around;
    }
    
    .contents > li, p {
        display: flex;
        justify-content: space-around;
        padding: 0.25rem 0;
    }
    
    .inicio-contact > li {
        font-size: 16px;
        text-align: center;
    }

    .profile {
        height: 100%;
        scroll-margin: 60px;
        background-color: var(--background-light);
        margin: 0 2rem;
    }
    
    .education {
        height: 100%;
        scroll-margin: 60px;
        background-color: var(--background-light);
        margin: 0 2rem;
    }
    
    .experience {
        height: 100%;
        scroll-margin: 60px;
        background-color: var(--background-light);
        margin: 0 2rem;
    }
    
    .habilities {
        height: 100%;
        scroll-margin: 60px;
        background-color: var(--background-light);
        margin: 0 2rem;
    }

    .scroll-button {
        display: none;
    }
}

@media screen and (max-width: 380px){
    body {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 200% 280%;
        background-position: center;
        background-attachment: fixed;
    }

    nav {
        display: none;
    }

    .inicio {
        height: 600px;
        width: 70%;
        margin: 0 3.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        scroll-margin: 60px;
        color: var(--font-light);
    }
    
    .inicio > img {
        height: 8rem;
        width: 8rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 10rem;
        border: solid 2px var(--accent-color-1);
    }

    .contents {
        margin-left: 0;
        margin-bottom: 2rem;
    }
    
    .contents h1 {
        font-size: 24px;
    }
    
    .contents h2 {
        font-size: 16px;
        margin-bottom: 1rem;
    }
    
    .contents > h1, h2 {
        text-align: center;
    }
    
    .contents > ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 1rem 0;
    }
    
    .contents > li {
        display: flex;
        justify-content: space-around;
    }
    
    .contents > li, p {
        display: flex;
        justify-content: space-around;
        padding: 0.25rem 0;
    }
    
    .inicio-contact > li {
        font-size: 12px;
        text-align: center;
    }

    .profile {
        height: 100%;
        scroll-margin: 60px;
        background-color: var(--background-light);
        margin: 0 1rem;
    }
    
    .education {
        height: 100%;
        scroll-margin: 60px;
        background-color: var(--background-light);
        margin: 0 1rem;
    }
    
    .experience {
        height: 100%;
        scroll-margin: 60px;
        background-color: var(--background-light);
        margin: 0 1rem;
    }
    
    .habilities {
        height: 100%;
        scroll-margin: 60px;
        background-color: var(--background-light);
        margin: 0 1rem;
    }

    .scroll-button {
        display: none;
    }
}