* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #47056B;
    --secondary-color: #5F0A87;
    --accent-color-1: #822D89;
    --accent-color-2: #A4508B;
    --accent-color-3: #B37196;
    --font-dark: #0C0014;
    --font-light: #F8F1F6;
    --backgroun-light: #F8F2F4;
    --background-dark: #1B0227;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: var(--background-dark);
}

body {
    width: 100%;
    height: 100%;
}

nav {
    position: sticky;
    top: 0px;
    width: 100%;
}

.main-nav {
    height: 60px;
    font-size: 15px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: right;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .8);
}

.main-nav > a {
    height: 100%;
    padding: 0 2rem;
    color: var(--font-light);
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2rem;
    text-decoration: none;
}

.main-nav > a:hover {
    background-color: var(--accent-color-1);
    height: 100%;
    padding-right: 2rem;
    color: var(--font-light);
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2rem;
    text-decoration: none;
}

.inicio {
    height: 600px;
    display: flex;
    margin: 0 6rem;
    align-items: center;
    scroll-margin: 60px;
}

.inicio > img {
    height: 20rem;
}

.contents {
    margin-left: 3rem;
}

.contents h1 {
    font-size: 80px;
}

.contents h2 {
    font-size: 30px;
}

.contents > h1, h2 {
    text-align: center;
}

.contents > ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
}

.contents > li {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}

.inicio-contact > li {
    font-size: 16px;
    text-align: center;
}

.profile {
    height: 650px;
    padding: 2rem 8rem;
    scroll-margin: 60px;
    background-color: var(--backgroun-light);
    margin: 0 10rem;
}

.education {
    height: 650px;
    padding: 2rem 8rem;
    scroll-margin: 60px;
    background-color: var(--backgroun-light);
    margin: 0 10rem;
}

.experience {
    height: 650px;
    padding: 2rem 8rem;
    scroll-margin: 60px;
    background-color: var(--backgroun-light);
    margin: 0 10rem;
}

.habilities {
    height: 650px;
    padding: 2rem 8rem;
    scroll-margin: 60px;
    background-color: var(--backgroun-light);
    margin: 0 10rem;
}

.scroll-button {
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--secondary-color);
    width: 50px;
    height: 50px;
    border-radius: 5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.scroll-button > a {
    text-decoration: none;
}

.scroll-button > a:visited {
    color: var(--font-light);
}

.scroll-button:hover {
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--accent-color-1);
    width: 50px;
    height: 50px;
    border-radius: 5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 6px 0 var(--accent-color-3);
}